body {
	background-color: #ccc;
	background-image: url('images/circuit-board-rainbow.jpg');
	background-size: 100%;
}
.marquee {
	width: 100%;
	text-align: center;
	font-size: 1.4em;
}
div #container {
	width: 100%;
}
div #instructions {
	position: absolute;
	right: 20px;
	top: 30px;
	width: 26%;
	background-color: #eee;
	border: 2px solid #222;
	padding: 8px;
	font-size: 1.1em;
}
div #entry {
	background-color: #eee;
	width: 27%;
	height: 100px;
	margin-left: 80%;
	position: absolute;
	bottom: 30px;
	right: 20px;
	border: 2px solid #222;
	padding: 4px;
	font-size: 1.2em;
}
div #histframe {
	background-color: rgba(240,240,240,0.8);
	border: 2px solid #222;
	margin: 20px;
	padding: 8px;
	height: 90vh;
	margin-right: 33%;
	font-size: 1.3em;
}
div #history {
	overflow: scroll;
	overflow: -moz-scrollbars-none;
	height: 90%;
}
div #history::-webkit-scrollbar {
	width: 0 !important;
}
div #history p {
	margin: 4px;
}
