body {
	background-color: #ccc;
	background-image: url('images/circuit-board-rainbow.jpg');
	background-size: 100%;
}
.marquee {
	width: 100%;
	text-align: center;
	font-size: 1.4em;
}
div #container {
	width: 100%;
}
div #entry {
	background-color: #eee;
	width: 25%;
	height: 100px;
	margin-left: 80%;
	position: absolute;
	bottom: 30px;
	right: 20px;
	border: 2px solid #222;
	padding: 3px;
}

div #histframe {
	background-color: rgba(240,240,240,0.8);
	border: 2px solid #222;
	margin: 20px;
	padding: 5px;
	height: 90vh;
	margin-right: 35%;
}
